<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Minhas Carteiras</h1>


<% if @portfolios.any? %>





      <% @portfolios.each do |portfolio| %>
        <div class="card mb-3" style="max-width: 100%;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= portfolio.name %></h5>
                <p class="card-text"><label>Aporte inicial:</label> <%= portfolio.initial_amount %></p>
                <p class="card-text"><small class="text-muted"><%= portfolio.created_at.strftime("Criada em %d/%m/%Y") %></small></p>
              </div>
            </div>
            <div class="col-md-4">
              <%= link_to 'Visualizar', portfolio, class: "btn btn-dark btn-block" %>
              <%= link_to 'Editar', edit_portfolio_path(portfolio), class: "btn btn-dark btn-block" %>
              <%= link_to 'Excluir', portfolio, method: :delete, data: { confirm: 'Deseja mesmoe excluir esta carteira?' }, class: "btn btn-dark btn-block" %>
            </div>
          </div>
        </div>


      <% end %>

  <br>

  <%= link_to 'Criar nova carteira', new_portfolio_path, class:"btn btn-dark btn-lg" %>
<% else %>
  <div class="" style="margin: 2rem 0">
    <p>Você ainda não possui nenhuma carteira. Para iniciar uma, clique no botão abaixo.</p>

  </div>
  <%= link_to 'Criar nova carteira', new_portfolio_path, class:"btn btn-dark btn-lg" %>
<% end %>

</div>
