<div class="container">
  <h2><%= @portfolio.name %></h2>
  <p>
    <strong>Aporte Inicial:</strong>
    $<%= @portfolio.initial_amount %>
  </p>

  <%= render 'transactions/form', transaction: @transaction %>

  <h3>Ações</h3>
  <div class="card-group">
    <% $stocks.each do |stock| %>
      <div class="card">
        <div class="card-body">
          <div class="stock-price" id="<%= stock %>" data-url="<%= url_for(controller: 'portfolios', action: 'get_stock_quote', ticker: stock) %>">
            <h5 class="card-title"><%= stock %></h5>

          </div>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <% end %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Ativo</th>
        <th>Quantidade</th>
        <th>Preço pago</th>
        <th>Total</th>
        <th>Último preço</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.asset %></td>
          <td><%= transaction.quantity %></td>
          <td><%= transaction.unit_price_paid %></td>
          <td><%= transaction.total_paid %></td>
          <td><%= transaction.last_price %></td>
          <td><%= link_to 'Show', transaction %></td>
          <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
          <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Editar', edit_portfolio_path(@portfolio) %> |
  <%= link_to 'Voltar', portfolios_path %>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.stock-price').each(function(){
    $.ajax($(this).data('url'));
  });
});
</script>
