<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :asset %>
    <%= form.text_field :asset %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :unit_price_paid %>
    <%= form.number_field :unit_price_paid %>
  </div>

  <div class="field">
    <%= form.label :last_price %>
    <%= form.number_field :last_price %>
  </div>

  <div class="field">
    <%= form.label :total_paid %>
    <%= form.number_field :total_paid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
